
<h1>Homepage</h1>

<div class="row">
    <div class="col-md-3"> 
<div>Game Deals</div>
<h1>First collumn</h1>
 <div class="card" style="width: 18rem;">
    
    <div class="card-body">
      <h5 class="card-title">Game Deals</h5>
      <p class="card-text">Consoles</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">N64</li>
      <li class="list-group-item">Playstation</li>
      <li class="list-group-item">Original Xbox</li>
      <li class="list-group-item">Sega Dreamcast</li>
      <li class="list-group-item">Playstation 2</li>
      <li class="list-group-item">Nintendo Gamecube</li>
      <li class="list-group-item">Gameboy</li>
    </ul>
    
  </div>
  <div class="card" style="width: 18rem;">
   
    <div class="card-body">
      <h5 class="card-title">In store!</h5>
      <p class="card-text">Now Available!</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Rare Finds</li>
      <li class="list-group-item">Recently Added</li>
     
    </ul>
    <div class="card-body">
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div>
  </div>
  </div>
    <div class="col-md-4">
        <div class="row">
        <h1>Hottest Games!</h1>
        <p>Relive your childhood and see what others are viewing</p>
        </div>
        <div class="row">
         <h1>Rare Retros</h1>
        <p>Compare and contrast pricing options for harder to find titles</p>
        </div>
        <div class="row">
         <h1>Recently Added!</h1>
        <p>Check out what we just added!</p>
        </div>
  </div>
  <div class="col-md-4">
    <h1>Coming soon</h1>
        <p>get a sneak peak! fish</p>
  </div>

  </div>
 <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js" integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js" integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ" crossorigin="anonymous"></script>
  

<h1 class="text-blue-700">this is the body from homepage handlebars</h1>

