
<div class="container mx-auto">
    <h2 class="font-bold">Add New Listing</h2>
  <form id="new-post-form" class="card-body">
    {{!-- <p>Title:</p> --}}
    {{!-- <label class="form-label" for="post-title"></label>
    <input type="text" name="post-title" class="form-input" /> --}}

    {{!-- <label class="form-label" for="post-body">Add a Product:</label> --}}
      <p>Product Name:</p>
    <textarea name="post-productPrice" class="productName"></textarea>
      <p>Product Price:</p>
    <textarea name="post-productPrice" class="productPrice"></textarea>
    <p>Console Type:</p>
    <textarea name="post-consoleType" class="consoleType"></textarea>
    <p>Product Description:</p>
    <textarea name="post-product-Description" class="post-Description"></textarea>
    <p>Product Views:</p>
    <textarea name="post-productViews" class="productViews"></textarea>
    <p>Genre:</p> 
    <textarea name="post-productGenre" class="productGenre"></textarea>
    <p>Product Availability</p>
    <textarea name="post-Avalible" class="Avalible"></textarea>
    
    <button type="submit" class="btn">Create</button>
  </form>
  </div>


<script src="/js/product-create.js"> </script>

