<section class="container">
    <h3 class="game-name">{{store.name}}</h3>
    <div id="root">
        <div class="MuiGrid-root MuiGrid-container MuiGrid-spacing-xs-3">
            <input id="searchInput" type="text" placeholder="Enter game name"> 
        </div>
        <div class="MuiGrid-root MuiGrid-item MuiGrid-spacing-xs-12 MuiGrid-grid-sm-6">
            <h3 class="mb-0">Available here</h3>
            <ul class="list" id="storeList"> 
                
            </ul>
        </div>
    </div>
</section>
<script src="/js/index.js"></script>